 .u-section-1 {
  background-image: linear-gradient(black, #f0dea7);
}

.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 823px;
  background-image: url("/images/2021_03_23_Merois_008.30.jpg");
  background-position: 66.95% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 81px auto 0;
}

.u-section-1 .u-map-1 {
  width: 278px;
  height: 282px;
  margin: 371px auto 0;
}

.u-section-1 .u-image-2 {
  min-height: 823px;
  background-image: url("/images/sinneula.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 560px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-1 .u-form-1 {
  height: 261px;
  background-image: none;
  width: 798px;
  margin: 1px 0 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    min-height: 679px;
  }

  .u-section-1 .u-form-1 {
    width: 658px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-image-1 {
    min-height: 520px;
  }

  .u-section-1 .u-map-1 {
    width: 216px;
  }

  .u-section-1 .u-image-2 {
    min-height: 520px;
  }

  .u-section-1 .u-form-1 {
    width: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2020px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-2 {
    min-height: 557px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-image-1 {
    min-height: 819px;
  }

  .u-section-1 .u-image-2 {
    min-height: 351px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 296px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 585px;
}